<div>
    <form class="form">
        <br>
        <br>
        <br>
        <img src="src\assets\welcome.png">
            <div class="botoneslogin1">
                <div Class="form col-md-3">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
            </div>
            <div class="botoneslogin2">
                <div Class="form col-md-3">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
            </div>
           
            <br>
            <div class="boton1">    
                <button type="Iniciar Sesion" class="btn btn-primary1"> Ingresar </button>   
            </div>
            <br>
            <div class="boton4">
    
                <button type="Sign In" class="btn btn-primary4"> Sign In </button>
    
            </div>
            <br>
            <div class="boton2">
    
                <button type="Iniciar Sesion FB" class="btn btn-primary2"> Iniciar Sesion con Facebook </button>
    
            </div>
            <br>
            <div class="boton3">
    
                <button type="Iniciar Sesion Google" class="btn btn-primary3"> Iniciar Sesion con Google </button>
    
            </div>
    </form>
</div>

