<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Inicio</span>
    </div>
  </nav>
    
    <section id=cover class="cover">
        <div class="container_cover">
            <div class="container_info">
                <h1> SKINCARE </h1> <br>
                <h2> ABSOLUTE </h2>
                <p> Página que te ayudará a encontrar información
                sobre tus productos preferidos y contactar con profesionales de belleza</p>
            </div>
            <div class="cover-img">
                <img src="assets/img/portada.jpeg" class ="vector-img">
            </div>
        </div>
    </section>

    <section id=options class="options">
        <div class="body_Page">
            <div class="container_article">
                <h2 class="sub tittle"> PODRÁS ENCONTRAR:</h2>
                <div class="container_body">
                    <div class="card">
                        <img src="assets/img/productos.jpeg">
                        <h4> PRODUCTOS</h4>
                        <p> Encuentra los mejores productos según la marca
                        y el tipo de piel para el que deseas.
                        Todo a los mejores precios y podrás verificar la información necesaria para adquirirlo</p>
                        <a href="">Ver más</a>
                    </div>
                    <div class="card">
                        <img src="assets/img/consultora.jpeg">
                        <h4> CONSULTORA DE BELLEZA</h4>
                        <p> Encuentra a las mejores consultoras de belleza
                        según la marca para la que trabajen o el horario de las asesorías que tenga.
                        Todo para una mayor confianza</p>
                        <a href="">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>