<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Productos Disponibles</span>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/img/Bioderma1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Bioderma</h4>
          <h5 class="card-title">Sensibio Gel Moussant - 200 ml</h5>
          <h6 class="card-title">S/148.00</h6>
          <a href="#" class="btn btn-primary">Ver información</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/Facemask.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">APU FACEMASK</h4>
            <h5 class="card-title">Mascarilla facial - 200 ml</h5>
            <h6 class="card-title">S/54.90</h6>
            <a href="#" class="btn btn-primary">Ver información</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/Hydrabio.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">BIODERMA</h4>
            <h5 class="card-title">Hydrabio Sérum - 40 ml</h5>
            <h6 class="card-title">S/133.00</h6>
            <a href="#" class="btn btn-primary">Ver información</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/Suero.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">YANBAL</h4>
            <h5 class="card-title">Suero hidratante Sentiva - 30 ml</h5>
            <h6 class="card-title">S/48.00</h6>
            <a href="#" class="btn btn-primary">Ver información</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="assets/img/Eva agua.JPG"  class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">EVA'S PASSION</h4>
            <h5 class="card-title">Agua Micelar - 200 ml</h5>
            <h6 class="card-title">S/81.25</h6>
            <a href="#" class="btn btn-primary">Ver información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/img/CremaYanbal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">YANBAL</h4>
            <h5 class="card-title">Crema ultra hidratante - 100 g</h5>
            <h6 class="card-title">S/54.00</h6>
            <a href="#" class="btn btn-primary">Ver información</a>
          </div>
        </div>
      </div>
  </div>